* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  

  body {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha no topo */
    background: linear-gradient(90deg, red 0%, white 80%);
    min-height: 100vh; /* Deixa o body crescer com o conteúdo */

    width: 100vw;
    /* overflow-y: auto; Permite o scroll vertical */
}

#box {
    width: 20%;
    height: auto; /* Permite ajustar a altura ao conteúdo */
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(249, 104, 104, 0.04);
    padding: 15px; /* Adiciona espaçamento interno */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os elementos */
}

.titulo {
    /* border: 1px solid black; */
    /* background-color: white; */
    text-align: left;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: white;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
    position: relative;
    width: 100%; /* Ocupa toda a largura da div #box */
}

.form-control label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
    color: white;
}

.form-control input,
.form-control textarea {
    width: calc(100% - 2px); /* Folga de 1px em cada lado */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    border: 2px solid black;
}

.form-control textarea {
    resize: none;
    height: 100px; /* Altura fixa */
}

.form-control i {
    position: absolute;
    top: 39px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    position: absolute;
    bottom: -4px;
    left:0;
    visibility: hidden;
    color: black;
}

.form-control button{
    border: 1px solid black;
    color: black;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;

}

.form-control button:active{
    transform: scale(0.98);
          
       
}

.btn:active{
    transform: scale(0.98);
}           

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.success textarea{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control.error textarea {
    border-color: #e74c3c;
}

.form-control.success i{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i{
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small{
    visibility: visible;
    color: black;
}

.opcoes{
    width: 100%;
    /* border: 1px solid black; */
}

.escolha{
    display: flex;
    width: calc(100% - 2px);
    justify-content: space-evenly;
    /* border: 1px solid black; */
}


/* design da listagem */

.listagem{
    width: 100%;
    height: auto; /* Permite ajustar a altura ao conteúdo */
    /* border: 1px solid white; */
    border-radius: 8px;
    background-color: rgba(249, 104, 104, 0.04);
    padding: 15px; /* Adiciona espaçamento interno */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os elementos */
}

.dados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(249, 104, 104, 0.04);
    color: white;
}

.box2 {
    width: 30%;
    /* height: 50%; */
     height: auto; /* Permite ajustar a altura ao conteúdo */
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgba(249, 104, 104, 0.04);
    padding: 15px; /* Adiciona espaçamento interno */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    gap: 15px; /* Espaçamento entre os elementos */
    /* overflow-y:  visible; */
}

.box2 h2 {
    color: white;
    font-size: 20px;
    text-align: center;
    position: sticky;
    top: 0; /* Fixa o título no topo */
    border-radius: 8px;
    background-color: rgba(249, 104, 104, 0.9); /* Fundo para o título */
    z-index: 1; /* Garante que o título fique acima de outros elementos */
}

.subtitulo {
    font-size: 15px;
    position: sticky;
    top:25px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
}